streamlit==1.46.1
langchain-groq==0.3.5
langchain-huggingface
langchain-chroma
langchain-community
langchain-core
pytesseract==0.3.13
pillow
python-dotenv
chromadb
sentence-transformers
huggingface_hub
protobuf==3.20.3
