echo streamlit==1.46.1 > requirements.txt
echo langchain-groq==0.3.5 >> requirements.txt
echo langchain-huggingface >> requirements.txt
echo langchain-chroma >> requirements.txt
echo langchain-community >> requirements.txt
echo langchain-core >> requirements.txt
echo pytesseract==0.3.13 >> requirements.txt
echo pillow >> requirements.txt
echo python-dotenv >> requirements.txt
echo chromadb >> requirements.txt
echo sentence-transformers >> requirements.txt
echo huggingface_hub >> requirements.txt